<style>
  form {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 6px;
    grid-column-gap: 4px;
    // justify-items: end;
    margin-bottom: 30px;
    max-width: 33%;
  }
  input[type=submit] {
    // width: 100%;
  }

  label {
    text-align: right;
  }


</style>

<h2>Add Planet</h2>

<!-- action URL is '/planets' but we're using the path helper for this -->
<form action="<%= planets_path %>" method="post">

  <label for="name"> Name </label>
  <input type="text" name="name">
  <label> Image URL </label>
  <input type="text" name="image">
  <label> Orbit </label>
   <input type="text" name="orbit">
  <label> Diameter </label>
  <input type="text" name="diameter">
  <label> Mass </label>
  <input type="text" name="mass">
  <label> Moons </label>
  <input type="text" name="moons">

  <br>
  <input type="submit" value="Add">

</form>
