
<h2>Add Planet</h2>

<!-- action URL is '/planets' but we're using the path helper for this -->
<form action="<%= planets_path %>" method="post">

  <label>
    Name: <input type="text" name="name">
  </label><br>
  <label>
    Image URL: <input type="text" name="image">
  </label><br>
  <label>
    Orbit: <input type="text" name="orbit">
  </label><br>
  <label>
    Diameter: <input type="text" name="diameter">
  </label><br>
  <label>
    Mass: <input type="text" name="mass">
  </label><br>
  <label>
    Moons: <input type="text" name="moons">
  </label><br>

  <input type="submit" value="Add">

</form>
