
<h1>WELCOME TO MY SITE!!!!!!!!!!!!!</h1>


<!-- hotlinking! naughty! -->
<!-- <img src="https://crystalbridges.org/wp-content/uploads/2015/11/poker_sympathy.jpg" alt=""> -->

<!-- <img src="/assets/poker_sympathy.jpg" alt=""> -->

<!-- Use a Rails helper tag to generate the HTML for us -->
<%= image_tag 'poker_sympathy.jpg', alt: 'Poker Dogs', class: 'lol' %>
