
<h2>Search results for "<%= @query %>":</h2>

<ul class="results">
<% @results.each do |movie| %>
  <li>
    <a href="/movies/results/<%= movie['id'] %>">
      <img src="http://image.tmdb.org/t/p/w185<%= movie['poster_path'] %>" alt="<%= movie['original_title'] %>">
    </a>
  </li>
<% end %>
</ul>
