<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals of the World: A Visual Guide</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Animals of the World: A Visual Guide</h1>
  <hr>
  <nav>
     <a href="/animals">Index</a>
     |
     <a href="/animals/new">Add Animal</a>
   </nav> 

  <%# Put the specific route template here! %>
  <%= yield %>

  <hr>
  <footer>
    &copy; Round Boys Productions 2019
  </footer>

</body>
</html>
