<h2>Let's Calculate!</h2>

<form action="/calc/answer">

  <label>
    First number: <input type="text" name="first_num">
  </label>
  <label>
    Operation:
    <select name="op">
      <option>+</option>
      <option>-</option>
      <option>*</option>
      <option>**</option>
      <option>div</option>
    </select>
  </label>
  <label>
    Second number: <input type="text" name="second_num">
  </label>
  <input type="submit" value="Calculate!">

</form>
