@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro&display=swap');

body {
  background-color: lavender;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.inlineExample {
  border: 1px solid red;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;

  width: 300px;
  /* This will have no effect */
}

.blockExample {
  border: 1px solid green;
  display: block; /* default */

  width: 200px;
  /* This will actually work */
}

.inlineBlockExample {
  border: 1px solid yellow;
  display: inline-block;
  width: 50%;
  /* This will work */
}

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}

.staticExample {
  position: static; /* default */

  /* offsets: top, left, bottom, right */
  left: 200px;
  /* 'The left edge of this element should start 200px to the right of where it would be by default' */

  /* BUT it has no effect for a statically-positioned element */
}

.relativeExample {
  position: relative;
  /* NOW we can use offsets: */
  top: 50px;
  left: 100px;
}

.absoluteExample {
  position: absolute;
  top: 150px;
}

.parentOfAbsolute {
  /* position: static; */

  position: relative;
  top: 100px;
  border: 1px solid red;
}

.fixedExample {
  position: fixed;
  top: 100px;
  right: 0;
}

#topNav {
  background-color: brown;
  padding: 10px;
  color: white;
  font-size: 1.2em;
}


#topNav > div {
  /* border: 1px solid pink; */
  display: inline-block;
}

#leftNav {
  width: 70%;
}

#rightNav {
  width: 30%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}

#leftNav li {
  display: inline-block;
  padding-right: 24px;
}
