<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatrulator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>SINATRULATOR</h1>
  <hr>

   <%= yield %>

  <hr>
  <footer>
    &copy; Violent Alcoholic Mobster Productions 2019
  </footer>

</body>
</html>
