
<h2>Stonk Results</h2>

<p>
  The latest price for
  <strong><%= @symbol %></strong> (<%= @company %>)
  is
  $<%= @price %>
</p>


<img src="https://media.giphy.com/media/YnkMcHgNIMW4Yfmjxr/giphy.gif" alt="">
