
<h1>Hey Fancy Business Guy</h1>

<p>
  Look up your favourite stonk here:
</p>

<form action="/stocks/lookup">

  <label>
    <input type="text" name="stock_symbol">
  </label>

  <input type="submit" value="Lookup">

</form>

<br>

<img src="https://media.giphy.com/media/YnkMcHgNIMW4Yfmjxr/giphy.gif" alt="">
