<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wall Street Fancy Man</title>
</head>
<body>

  <h1>Stock Quote Search</h1>
  <hr>

  <%= yield %>

  <hr>
  <footer>
    &copy; Robber Baron Productions 2019
  </footer>

</body>
</html>
