<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fantastic Sinatra Site</title>
</head>
<body>
  <nav>
    <marquee>
      WORLD'S BEST SITE!!!11!!
    </marquee>
  </nav>

  <!--
  Insert the actual ERB template that I asked for, here
  i.e. "erb :welcome" => the welcome.erb
  template will be inserted here
  -->

  <%= yield %>

 <hr>
 <footer>
   &copy; Crooner Productions 2019
 </footer>
</body>
</html>
